<h1>Bulk Duplicate Trello Cards</h1>
<form class="duplicate">
  <label for="idBoardSource">Select board to duplicate</label>
  <select class="boards" name="idBoardSource" id="idBoardSource">
  </select>
  <label for="name">Please choose a name for your new board</label>
  <input type="text" name="name" id="name">
  <label for="old-start-date">Old course start date</label>
  <input type="date" name="old-start-date" id="old-start-date">
  <label for="new-start-date">New course start date</label>
  <input type="date" name="new-start-date" id="new-start-date">
  <input type="submit" value="duplicate">
</form>
