body {
  background: #FCFCFC;
  color: #4d4d4d;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
}

h1, h2 {
  margin: 2rem 0;
}

input, label, textarea, select {
  display: block;
  margin: 10px auto;
}

input, textarea, select {
  border: 1px solid #ccc;
  border-radius: 3px;
  min-height: 20px;
  min-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 17px;
}

select {
  height: 40px;
}

input[type="submit"] {
  background: #0079BF;
  color: white;
  border: 1px solid #026AA7;
}
